

*{
    box-sizing: border-box;
}
body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgba(87, 87, 87,0.5),rgb(87, 87, 87,0.5)), url("../img/mZOoc6C.jpg");
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5vh auto;
    height: 85vh;
    padding: 10px;
}

#div{
    border-radius: 15px;
    background-color: rgba(255, 255, 255,0.6);
    box-shadow: 5px 3px 8px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

h2{
    text-align: center;
    color: crimson;
}

input{
    width: 50%;
    padding: 7px;
    border-radius: 15px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#submit{
    background-color: crimson;
    color: azure;
    border: none;
    cursor: pointer;
}

#submit:hover{
   background-color: rgba(220, 20, 60,0.5);
   transform: scale(1.1);
   transition: 0.7s ease;
}

#div p {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 0 6px;

}
#para {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}
#para a{
        text-decoration: none;

}
/* @media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }
  }

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
  } */
